@{
    ViewBag.Title = "Images";
}

<h2>Images of any file type</h2>
<h4>............"Media/Documents/" folder</h4>

<div class="contain">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="../Views/Home/Assests/Vegeta.jpg" />
                <br />
                <button type="button" class="btn btn-success">Download</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
            <div class="col-sm">
                <img src="../Views/Home/Assests/Vegeta.jpg" />
                <br />
                <button type="button" class="btn btn-success">Download</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
            <div class="col-sm">
                <img src="../Views/Home/Assests/Vegeta.jpg" />
                <br />
                <button type="button" class="btn btn-success">Download</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>