

@{
    ViewBag.Title = "Index";
}


@using u21686875_HW03.Models
@model List<ModelFile>

<h2>Index</h2>

<style>
    .contain {
        background-color: rgb(221 221 221);
        padding: 30px 30px 30px;
    }
</style>

<h2>Documents of any file type</h2>
<h4>............"Media/Documents/" folder</h4>

<div class="contain">
    <div style="height: 400px; overflow: auto;">
        <div class="well-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">File Name</th>
                        <th scope="col">DOWNLOAD</th>
                        <th scope="col">DELETE</th>
                    </tr>
                </thead>
                @foreach (ModelFile file in Model)
                {
                    <tr>
                        @*
                Default >> @Html.DisplayFor(modelItem => file.FileName)
                        *@

                        <td>@file.FileName</td>
                        <td>
                            <button class="btn btn-success">
                                @Html.ActionLink("Download", "DownloadFile",
                                 new { fileName = file.FileName })
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger">
                                @Html.ActionLink("DELETE", "DeleteFile",
                               new { fileName = file.FileName },
                               new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
